# Увімкнути модуль переписування URL
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Редірект index.html на корінь сайту
  RewriteCond %{THE_REQUEST} /index\.html [NC]
  RewriteRule ^index\.html$ / [R=301,L]

  # Дозволити доступ сканерам (Googlebot, Sucuri, Bing, тощо)
  RewriteCond %{HTTP_USER_AGENT} ^.*(googlebot|bingbot|yandex|sucuri|facebookexternalhit|crawler|bot).*$ [NC]
  RewriteRule .* - [L]
</IfModule>

# Загальні дозволи доступу
<IfModule mod_authz_core.c>
  Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
  Order allow,deny
  Allow from all
</IfModule>

# Налаштування кешування
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 month"

  # Зображення
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"

  # Стилі CSS та JS
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Шрифти
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>
